
#titulo{color: rgb(0, 0, 0) ;text-align: center; 
    font-size: 40px;}
    
    #subtitulo{color: rgb(0, 0, 0);text-align: center;}
    
    .cuerpo{
        background-color: rgb(255, 255, 255);
        margin-top: 5%;
        max-width: 60%;
        height: 100%;
        padding: 20px;    
    }
    
    .cuerpo{
    display: inline-block;
    margin-left: 25%;
    margin-bottom: 5%;
    text-align: center;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%;
    grid-column: auto;
    
    }
    
    .hturismo{
    text-align: center;
    }
    
    .hrestaurantes{
    text-align: center;
    }
    
    #principal{
    height: 750px;
    width: 550px;
    margin-left: 2%;
    }
    
    
    .tour{
        display: inline-block;
        margin-left: 25%;
        margin-bottom: 5%;
        text-align: center;
        grid-template-columns: 100%, 100%;
        grid-template-rows: 100%;
        grid-column: auto;
            
    }
    
      .logocompleto{
          height: 400px;
          width: 450px;
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
    
      .inicio{
          text-align: center;
      }
    
      .medio{
          background-color: rgb(255, 255, 255);
      }
    
      .general{
          background-color: rgb(255, 255, 255);
          }
    
        .sobreDBA{
            text-align: center;
        }
    
    
    #imagen1{
        height: 600px;
        width: 400px;
    }
    
    #texto1{
        text-align: center;
    }
    
    #imagen2{
        height: 400px;
        width: 600px;
        border-radius: 70%;
        margin-right: 50%;
    }
    
    #texto2{
        text-align: center;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 50%;
    }
    
    #imagen3{
        height: 400px;
        width: 600px;
        border-radius: 70%;
        margin-right: 50%;
    }
    
    #texto3{
        text-align: center;
        margin-top: 10%;
        margin-right: 5%;
        margin-left: 50%;
    }
    
    
    .carousel{
        height: 600px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: block;  
    }
    
    .carousel-control-prev{
        height: 600px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: white;
    
    }
    
    .carousel-inner{
        height: 600px;
        width: 400px;
    }
    
    .textom{
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }
    
    #nota{
        font-style: italic;
        font-weight: bold;
    }
    
    #nota1{
        font-weight: bold;
        text-decoration: overline;
    }
    
    .nav-item a{
        text-decoration: none; 
        color: black;
    }
    